
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://via.placeholder.com/640x360" alt="Card image cap">
  <div class="card-body">
    <h4>This is a long header, a very long header for something terrible that probably happened</h4>
    <p class="card-text">A brief summary of the event.</p>
    <p class="card-text"><a href="https://handlebarsjs.com/partials.html">https://handlebarsjs.com/partials.html</a></p>
    <button>Save this article</button>
  </div>
</div>