.nav-item {
    margin-left: 5%;
}
.bg-light {
    background-color: rgb(35,123,189) !important;
    color: white;
    font-size: 1.5em;
}
.navbar-brand {
    font-size: 1.5em;
}
button.scrape {
    margin-left: 5%;
    background-color:rgb(187,25,25);
    color:rgb(199, 198, 198, .95);
    border-color:rgb(187,25,25);
    border-radius:4px;
    box-shadow: none;
}