body {
    font-family: Georgia;
}
.navbar {
    position: fixed;
    z-index: 2;
    width: 100vw;
}
.bbc-background {
    background-image: url("../images/bbc-background2.jpg");
}
.cnn-background {
    background-image: url("../images/cnn-background.jpg");
}
.saved-background {
    background-image: url("../images/saved-background.jpg");
}
.npr-background {
    background-image: url("../images/npr-background.png");
    background-repeat: repeat;
    position: fixed;
    z-index: 0;
    height: 100vh;
    width: 100vw;
}
.bbc-background,
.saved-background,
.cnn-background {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
}
.nav-item {
    margin-left: 5%;
}
.bg-light {
    background-color: rgb(35,123,189) !important;
    color: white;
    font-size: 1.5em;
}
.navbar-brand {
    font-size: 1.5em;
}
button.scrape {
    margin-left: 5%;
    background-color:rgb(187,25,25);
    color:rgb(199, 198, 198, .95);
    border-color:rgb(187,25,25);
    border-radius:4px;
    box-shadow: none;
}
.container {
    background-color: transparent;
    position: absolute;
    top: 80px;
}
.card {
    margin: 30px;
}
button.save-button {
    background-color: rgb(35,123,189);
    margin-left: 22%;
    transition: .3s;
}
button.save-button:hover {
    background-color: rgb(187,25,25);
    transition: .3s;
}
.delete-button,
.comment-button {
    background-color: rgb(35,123,189);
    transition: .3s;
}
.delete-button:hover,
.comment-button:hover {
    background-color: rgb(187,25,25);
    transition: .3s;
}
.modal-comments {
    max-height: 40vh;
    overflow-y: scroll;
    word-wrap: break-word;
}

@media only screen and (min-width: 200px) {
    .container {
      margin-left: 0;
      margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .container {
      margin-left: 5%;
      margin-right: 5%;
    }
}